/* =========== Media Queries ============== */
@media (min-width: 1280px) {
  .footer-inner, .login-header-menu > li {
    font-size: 12px; } }
@media (min-width: 1366px) {
  .footer-inner, .login-header-menu > li {
    font-size: 14px; }

  .default-btn.db-small {
    font-size: 14px; }

  .login-header-menu > li a .fa {
    font-size: 18px; } }
@media (min-width: 1751px) {
  .left-bar {
    padding-right: 30px; }

  .tbl-ic-link {
    height: 20px;
    width: 20px; } }
@media (min-width: 1920px) {
  .footer-inner, .login-header-menu > li {
    font-size: 16px; }

  .default-btn.db-small {
    font-size: 16px;
    height: 40px; } }
@media (max-width: 1750px) {
  html, body {
    font-size: 12px; }

  .main-title {
    font-size: 20px;
    padding-bottom: 20px;
    margin-bottom: 35px; }

  .dual-box-wrap .dual-box .sub-ttl {
    font-size: 18px; }

  .default-btn.stc-17 {
    font-size: 14px;
    height: 38px;
    line-height: 16px;
    min-width: 130px; }

  .input-field {
    height: 38px;
    padding: 8px 14px; }

  .form-720 .form-group {
    margin-bottom: 12px; }

  .radio-wrapper .chk-ipt .box {
    width: 18px;
    height: 18px; }

  .white-shadow {
    margin-top: 32px;
    padding: 30px 38px; }

  .normal-wrap {
    padding: 42px 38px; }

  .login-header-menu.after-login .user-level {
    font-size: 18px; }

  .lined-title .l-title {
    font-size: 16px;
    margin-bottom: 20px; }

  .input-field.percent {
    max-width: 140px; }

  .bread-crumb {
    padding: 15px;
    font-size: 15px; }
    .bread-crumb > a {
      margin-left: 20px;
      margin-right: 20px; }
    .bread-crumb > span {
      margin-left: 20px; }

  .default-btn {
    min-width: 162px;
    font-size: 18px; }

  .button-wrap {
    margin-top: 20px; }

  .lined-title {
    margin-bottom: 20px; }

  .action {
    width: 25px;
    height: 25px;
    font-size: 11px; }

  .custom-tbl tr td, .custom-tbl tr th {
    padding-top: 17px;
    padding-bottom: 17px; }

  .filter-block {
    height: auto;
    min-height: 490px;
    padding: 20px; } }
@media (max-width: 1599px) {
  .content-wrapper .padding-wrap {
    padding: 65px 12.5%; }

  .shadow-box {
    padding: 40px; }

  .default-btn {
    min-width: 152px;
    font-size: 16px; }

  .my-tbl .my-tbl-row .my-tbl-td {
    padding: 12px 8px; }

  .progrss {
    height: 12px; } }
@media (max-width: 1440px) {
  .content-wrapper {
    margin-top: 60px; }

  .shadow-box {
    padding: 30px; }

  .aside-nav ul li a {
    margin-bottom: 12px; }

  .main-right-wrapper:not(.full-width) .login-header {
    height: 60px; }

  .content-wrapper .padding-wrap {
    padding: 58px 6%; }

  .aside-nav {
    margin-top: 60px; }

  .aside-logo {
    height: 60px; }

  .login-header-menu > li a {
    padding: 5px 0; }

  .default-btn {
    min-width: 135px;
    font-size: 14px; }

  .login-header-menu.after-login .user-level img {
    height: 35px;
    width: 35px; }

  .main-right-wrapper:not(.full-width) .login-header {
    padding-top: 12px;
    padding-bottom: 12px; }

  .login-header-menu > li a.ic-img {
    height: 20px;
    width: 20px; }

  .default-btn.ico-btn img {
    margin-left: 8px; }

  .bread-crumb {
    padding: 15px;
    font-size: 15px; }

  .aside-nav ul li a {
    font-size: 14px; }

  aside {
    width: 230px; }
    aside .aside-nav {
      padding: 30px 15px; }
      aside .aside-nav ul li a {
        font-size: 13px; }

  .lined-title .l-title {
    font-size: 16px;
    margin-bottom: 20px; }

  .main-right-wrapper {
    width: calc(100% - 230px); }

  .action {
    width: 20px;
    height: 20px;
    font-size: 10px; }

  .login-header-menu.after-login .user-level {
    font-size: 16px; }

  .lined-title {
    margin-bottom: 16px; }

  .formg-tbl .formg-tbl-row .formg-tbl-cell {
    padding-right: 30px; }

  .formg-tbl .formg-tbl-row .formg-tbl-cell .ico-field:after {
    right: 6px; }

  .formg-tbl .formg-tbl-row .formg-tbl-cell .action {
    right: 0; }

  .custom-tbl tr td, .custom-tbl tr th {
    padding-top: 14px;
    padding-bottom: 14px; }

  .right-sidebar {
    width: 250px; }

  .left-bar {
    width: calc(100% - 250px); }

  .filter-wrap .head-ttl {
    padding: 13px; } }
@media (max-width: 1366px) {
  .login-header-menu.after-login .user-level {
    font-size: 14px; }

  .default-btn.ico-btn img {
    width: 22px;
    height: 22px; }

  .default-btn.stc-17 {
    font-size: 14px;
    height: 40px;
    line-height: 18px; }

  .white-shadow {
    margin-top: 28px; }

  .input-field {
    padding: 8px 14px;
    height: 36px;
    font-size: 13px; }

  .dual-box-wrap .dual-box .sub-ttl {
    font-size: 16px; } }
@media (max-width: 1280px) {
  .button {
    height: 42px;
    line-height: 26px; }

  .tbl-link {
    margin-right: 15px; } }
@media (max-width: 1199px) {
  .normal-wrap {
    padding: 25px 30px; }

  .default-btn.stc-17 {
    font-size: 13px; }

  .dual-box-wrap .dual-box .sub-ttl {
    font-size: 15px; }

  .main-title {
    font-size: 18px;
    padding-bottom: 14px;
    margin-bottom: 25px; }

  .input-field {
    height: 34px; }

  .custom-tbl tr td, .custom-tbl tr th {
    padding-left: 8px; }

  .tbl-link {
    margin-right: 6px; } }
@media (max-width: 1079px) {
  .rspnsv-row {
    width: auto; }

  .left-bar {
    width: 100%; }

  .right-sidebar {
    width: 100%; } }
@media (max-width: 1023px) {
  .login-header {
    padding: 0 20px; }

  .footer-inner {
    padding: 0 20px; }

  .login-header-menu.after-login .user-level {
    font-size: 13px; }

  .bread-crumb > a {
    margin-left: 10px;
    margin-right: 10px; }

  .form-385 .field.with-select select {
    width: 90px; }

  .form-385 .field.with-select input {
    padding-left: 95px; }

  .lined-title .l-title {
    margin-bottom: 20px;
    font-size: 15px; }

  .form-385 .form-group {
    margin-bottom: 25px; }

  .bread-crumb {
    font-size: 14px; }

  .bread-crumb > span {
    margin-left: 10px; }

  .white-shadow-brd {
    padding: 16px 26px; } }
@media (max-width: 991px) {
  .aside-nav ul li a {
    font-size: 14px; }

  .main-title {
    font-size: 16px;
    padding-bottom: 13px;
    margin-bottom: 22px; }

  .main-title:after {
    height: 3px; }

  .login-header-menu.after-login .user-level {
    font-size: 12px; }

  .login-header-menu > li a.ic-img {
    height: 16px;
    width: 16px; }

  .default-btn {
    font-size: 14px; }

  .button-wrap {
    padding: 0;
    margin-top: 10px; }

  .default-btn.ico-btn img {
    width: 20px;
    height: 20px; }

  .white-shadow {
    padding: 25px 35px; }

  .form-385 .field .input-field {
    max-width: 300px; }

  .bread-crumb {
    font-size: 13px; }

  .radio-wrapper .chk-ipt .box {
    width: 18px;
    height: 18px; }

  .radio-wrapper .ipt-rad:checked + .chk-ipt .box {
    -webkit-box-shadow: inset 0px 0px 0px 4px #fff;
    -moz-box-shadow: inset 0px 0px 0px 4px #fff;
    box-shadow: inset 0px 0px 0px 4px #fff; } }
@media (max-width: 850px) {
  .button {
    height: 38px;
    line-height: 22px;
    font-size: 13px; }

  .normal-wrap {
    padding: 25px 20px; }

  .grid .inner-grid {
    padding: 18px; }

  .bread-crumb {
    padding: 15px 8px; }

  .white-shadow-brd {
    padding: 16px 15px; }

  aside {
    width: 180px; }

  .main-right-wrapper,
  .main-right-wrapper:not(.full-width) .login-header {
    width: calc(100% - 180px); } }
@media (max-width: 767px) {
  .login-header {
    height: 40px;
    padding: 0 15px; }

  .login-header-menu > li a {
    padding: 8px 0; }

  .footer-inner {
    flex-flow: column;
    height: auto;
    padding: 15px 15px;
    text-align: center; }

  .footer-link {
    width: 100%;
    margin-top: 10px;
    order: 2; }

  .footer-social {
    width: 100%;
    order: 1; }

  .footer-copyright {
    margin-top: 10px;
    width: 100%;
    order: 3; }

  .login-header-menu.after-login .user-level {
    font-size: 11px; }

  .main-title {
    font-size: 15px;
    padding-bottom: 12px;
    margin-bottom: 20px; }

  .aside-nav ul li a {
    font-size: 12.5px;
    margin-bottom: 8px; }

  .aside-nav > ul > li {
    margin-bottom: 10px; }

  .normal-wrap {
    padding: 25px 15px; }

  .form-385 .field .input-field {
    max-width: 100%; }

  .form-385 .link-blue {
    margin-left: 0;
    margin-top: 10px;
    display: inline-block; }

  .white-shadow {
    padding: 15px 20px; }

  .input-field {
    height: 32px;
    padding: 5px 10px; }

  .default-btn.stc-17 {
    font-size: 12px;
    height: 35px;
    min-width: 130px;
    line-height: 14px; }

  .content-wrapper .padding-wrap {
    padding: 35px 20px; }

  .names .input-field {
    padding: 8px;
    height: 35px;
    font-size: 12px; }

  .input-field.textarea {
    height: 170px; }

  .action {
    width: 20px;
    height: 20px;
    font-size: 10px; }

  .rspnsv-row {
    padding-left: 10px;
    padding-right: 10px; }

  .filter-block {
    padding: 15px; } }
@media (max-width: 639px) {
  .button {
    font-size: 11px;
    width: auto; }

  .button-wrap-t30 {
    margin-top: 20px; } }
@media (max-width: 580px) {
  .main-right-wrapper, .main-right-wrapper:not(.full-width) .login-header {
    width: 100%; }

  aside {
    z-index: 3;
    -webkit-transform: translateX(-180px);
    -moz-transform: translateX(-180px);
    -ms-transform: translateX(-180px);
    -o-transform: translateX(-180px);
    transform: translateX(-180px); }
    aside.active {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); }

  .aside-open {
    overflow: hidden; }

  .hamburger {
    display: block; }

  .main-title {
    font-size: 18px; }

  .bread-crumb {
    font-size: 12px; }

  .bread-crumb > span {
    margin-left: 8px; }

  .bread-crumb > a {
    margin-left: 8px;
    margin-right: 8px; }

  .bread-crumb {
    padding: 12px 8px; } }
@media (max-width: 479px) {
  .main-title {
    text-align: center; }

  .main-title:after {
    left: 0;
    right: 0;
    margin: 0 auto; }

  .button-wrap {
    text-align: center; }

  .button-wrap-np {
    text-align: center; } }

/*# sourceMappingURL=responsive.css.map */
